body{
    background-color: white;
    font-family: helvetica;
    font-size: 20px;
}

.header {
    background-color: #820820;
    margin: 0;
    font-family: 'helvetica';
}
.lead {
    color: white;
    font-size: 40px;

    text-align: center;
}
.title{
    
    font-size: 100px;
    margin-bottom: 0px;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.card{
    margin-bottom: 30px;
}

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 0px;
    margin: 30px;
}

#recipe-title-text{
    color: #820820;
}

.card-title{
    color: #820820;
}


.favorited{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 30px;
    height: 30px;
    background-color: white;
    font-size: 50px;
    height: 60px;
    color: #820820;
}

.results {
    margin: 30px;
}

.wrap-buttons{
    border: 3px solid lightsalmon;
    border-radius: 2px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.btn-delete{
    border-left: 3px solid lightsalmon;
    border-radius: 0px;
}

.btn-primary{
    background-color: #820820;
    padding: 5px;
    border: none;
    margin: 5px;
}


.recipe-content{
    column-count: 3;
    column-gap: 5px;

}

.nutritional-content{
    column-count: 3;
    column-gap: 5px;

}

.wine-section {
    background-color: #b3596b;
    color: white;
    height: 500px;
}

.wine-title {
    font-size: 60px;
    padding: 20px;
    font-weight: bolder;
}

.wine-subtitle {
    font-size: 30px;
    margin-left: 100px;
    margin-bottom: 80px;
    font-style: oblique;
    font-weight: lighter;
}


.wines {
    font-style: italic;
    margin-left: 100px;
    color: black;
    font-size: 30px;
}


#favDish{
    margin-left:30px;
    line-height:50px;
}